  <div class="text-center cool-header" style="background: white">
    <div style="border: 2px #000000;"><h2>interacting with football stats and comments.</h2></div>

  </div>

  <hr class="hr-styling">

  <div class="container text-center">
    <div class="row">
      <div class="col-sm">
        <div><h5>Create Watchlists.</h5></div>
        <br>
        <p>Watchlists for Team Managers to keep track of athletes they are interested in.</p>
      </div>
      <div class="col-sm">
        <div><h5>Leave Comments & Likes.</h5></div>
        <br>
        <p>Talk 'trash' on athlete pages, like comments, and receive responses.</p>
      </div>
      <div class="col-sm">
        <div><h5>Search Data.</h5></div>
        <br>
        <p>Look through the stats to see how players perform in certain games.</p>
      </div>
    </div>
  </div>

